<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IPR_SimpleApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D097D7151F3B13ED00A34DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D097D72E1F3B13ED00A34DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D097D7391F3B13ED00A34DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
